.tasks {
  height: 17.93rem;
  width: 46rem;
  margin: 0 22rem 0;
}

.tasksHeader {
  height: 2.68rem;
  width: 100%;
  margin: 5.68rem  0rem 0rem;
  display: flex;
}

.info {
  width: 100%;
  display: flex;
  justify-content:space-between ; 
  padding: 0 0 1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.created {
  display: flex;
  gap: 0.5rem;
  color: var(--blue);
}

.done{
  display: flex;
  gap: 0.5rem;
  color: var(--purple-dark);
}